.login-container {
	.login-header {
		font-size: 6rem;
		margin-bottom: 4rem;
	}

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 600px;
	width: 100%;

	.hidden {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	.login-container {
		width: 90%;
	}

	.login-header {
		font-size: 4rem;
	}
}
