header {
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;
	background: #222;
	color: #fcfcfc;
}


main {
	&.content {
		padding: 1rem;

		.main-items {
			.cell {
				&.item {
					padding: 20px;
					background: #afafaf;
					border-radius: 0.5em;
					.text {
						display: inline-block;
						padding: 20px;
						text-align: center;
						box-sizing: border-box;
						width: 100%;
					}
				}
			}
		}
	}
}