header {
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;
	background: #222;
	color: #fcfcfc;
}


main {
	&.content {
		padding: 1rem;

		.main-items {
			.cell {
				padding: 20px;
				.item {
					&.invisible {
						visibility: hidden;
					}
					display: inline-block;
					padding: 20px;
					text-align: center;
					background: #afafaf;
					border-radius: 0.5em;
					box-sizing: border-box;
					width: 100%;
				}
			}
		}
	}
}