header {
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;
	background: #222;
	color: #fcfcfc;
}

.menu {
	.item {
		&.active {
			background: #55F;
		}
		padding: 20px;
		text-align: center;

		.icon {}

		.title {
			padding: 5px;
			box-sizing: border-box;
			width: 100%;
		}
	}
}