@charset "UTF-8";
@import 'foundation-sites/scss/foundation';
@include foundation-range-input;
@include foundation-everything();


$fa-font-path:"~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: #fefefe;
	color: #222;
}

header {
	div {
		.home {
			float: left;
		}

		.volume {
			float: right;
		}

		.time {
			float:right;
			margin-left: 5px;
		}

		.icon {
			margin-left: 5px;
			margin-right: 5px;
		}

		overflow: hidden;
	}
}

.main {
	padding: 10px;
}

header {
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;
	background: #222;
	color: #fcfcfc;
}
